{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block body %}
    <h3>Brands</h3>

    <table class="list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.logo }}</td>
                <td>
                    <a class="buttonAdd" href="{{ path('brand_new') }}">Create new</a>
                    <a class ="btn-view" href="{{ path('brand_show', {'id': brand.id}) }}">show</a>
                    <a class ="btn-update" href="{{ path('brand_edit', {'id': brand.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
