{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
    <h3>Stocks</h3>

    <table class="list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.stock }}</td>
                <td>
                    <a class="buttonAdd" href="{{ path('stock_new') }}">Create new</a>
                    <a class="btn-view" href="{{ path('stock_show', {'id': stock.id}) }}">show</a>
                    <a class="btn-update" href="{{ path('stock_edit', {'id': stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
